body {
	font-family: sans-serif;
    background-image: url("pastel.jpg");
}

#timer {
	text-align: center;
}

#time-display {
	font-size: 6em;
	margin: 0;
}

button {
	font-size: 1.5em;
	padding: 10px;
	margin: 10px;
	background-color: lightblue;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#instruction {
	margin: 20px auto;
	text-align: center;
	width: 80%;
}
